{% extends 'base.html' %}

{% block title %}{{ site_name }}{% endblock %}

{% block js %}
    {{ super() }}
    <script src="{{ url_for('static', filename='facade/src/js/dashboard.js') }}"></script>
{% endblock %}

{% block content %}
    <div id="dashboard" class="container">
        <div class="row">
            <a id="newModelBtn" href="{{ url_for('models.new_model') }}" role="button" class="btn btn-success pull-right">New model</a>
        </div>
        <br/>
        {% if not owner_roles and not member_roles %}
            <p class="muted text-center">You have no models yet. It's time to create one!</p>
        {% else %}
            {% if owner_roles %}
                <div class="well well-small account">
                    <span class="lead">Your models</span>
                </div>
                <table id="ownModels" class="table table-hover models">
                    {% for owner_role in owner_roles %}
                        {% set model = owner_role.model %}
                        <tr class="model">
                            <td>
                                <a href="{{ url_for('models.model', model_id=model.id) }}"><strong>{{ model.schema_name }}</strong></a>
                                <br/>
                                <em class="muted">{{ model.description }}</em>
                            </td>
                            <td>
                                <div class="pull-right onHoverSection ownModelActions">
                                    <a class="modelProperties" href="{{ url_for('models.properties', model_id=model.id) }}">Properties</a>
                                    &nbsp;|&nbsp;
                                    <a class="text-error deleteModel" href="#" data-modelid="{{ model.id }}" data-schemaname="{{ model.schema_name }}">Delete</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
            {% if member_roles %}
                <div class="well well-small account">
                    <span class="lead">Shared models</span>
                </div>
                <table id="sharedModels" class="table table-hover models">
                    {% for member_role in member_roles %}
                        {% set model = member_role.model %}
                        <tr class="model">
                            <td>
                                <a href="{{ url_for('models.model', model_id=model.id) }}"><strong>{{ model.schema_name }}</strong></a>
                                <br/>
                                <em class="muted">{{ model.description }}</em>
                            </td>
                            <td>
                                <div class="pull-right onHoverSection sharedModelActions">
                                    <a class="text-error giveUp" href="#" data-modelid="{{ model.id }}" data-schemaname="{{ model.schema_name }}">Give up</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        {% endif %}
    </div>

    <div id="deleteModelDialog" class="modal hide fade" role="dialog" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="text-error">Danger is nearby!</h3>
        </div>
        <div class="modal-body">
            <p><strong>Are you sure you want to remove model "<span id="deleteModelSchema"></span>"?</strong></p>
        </div>
        <div class="modal-footer">
            <button id="deleteModelButton" class="btn btn-danger">Remove permanently</button>
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        </div>
    </div>

    <div id="giveUpModelDialog" class="modal hide fade" role="dialog" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Leaving the team</h3>
        </div>
        <div class="modal-body">
            <p><strong>Are you sure you want to leave the team of the model "<span id="giveUpModelSchema"></span>"?</strong></p>
            <p>You will not be able to access and modify this model.</p>
        </div>
        <div class="modal-footer">
            <button id="giveUpModelButton" class="btn btn-danger">Leave</button>
            <button class="btn" data-dismiss="modal" aria-hidden="true">Remain</button>
        </div>
    </div>
{% endblock %}