{% extends 'base.html' %}

{% block title %}Model "{{ model.schema_name }}" | Properties{% endblock %}

{% block content %}
    <div id="properties" class="container">
        {% with active_tab = 'general' %}
            {% include 'models/includes/properties_tabs.html' %}
        {% endwith %}
        <div class="row">
            <div class="span8 offset2">
                <form id="modelForm" class="form-horizontal"
                      action="{{ url_for('models.properties', model_id=model.id) }}"
                      method="post">
                    <fieldset>
                        {% with form = model_form %}
                            {% include 'includes/form_fields.html' %}
                        {% endwith %}
                        <div class="control-group">
                            <div class="controls">
                                <button type="submit" class="btn btn-success">Save</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}