{% extends 'base.html' %}

{% block title %}Model "{{ model.schema_name }}" | Team{% endblock %}

{% block js %}
    {{ super() }}
    <script src="{{ url_for('static', filename='facade/src/js/team.js') }}"></script>
{% endblock %}

{% block content %}
    <div id="team" class="container">
        {% with active_tab = 'team' %}
            {% include 'models/includes/properties_tabs.html' %}
        {% endwith %}
        <div class="clearfix">
            <a href="{{ url_for('models.invite', model_id=model.id) }}" role="button"
               class="btn btn-success pull-right">Invite</a>
        </div>

        <table id="members" class="table table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th class="span3">Role</th>
                <th class="span2"></th>
            </tr>
            </thead>
            <tbody>
            {% for model_role in model_roles %}
                <tr class="member">
                    <td>{{ model_role.user.profile.name }}</td>
                    <td>{{ model_role.user.profile.email }}</td>
                    <td>
                        {% if model_role.role == 'owner' %}
                            &#128081; <em>Owner</em>
                        {% else %}
                            {% with selected_role=model_role.role, button_roles=member_roles, model_id=model.id, obj_id=model_role.user.id, type='member' %}
                                {% include 'models/includes/role_switcher.html' %}
                            {% endwith %}
                        {% endif %}
                    </td>
                    <td>
                        <div class="pull-right onHoverSection memberActions">
                            {% if model_role.role != 'owner' %}
                                <a href="
                                {{ url_for('models.remove_member', user_id=model_role.user_id, model_id=model_role.model_id) }}"
                                   class="text-error">Remove</a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% if invitations %}
            <br/>
            <h4>Pending invitations</h4>
            <table id="invitations" class="table table-hover">
                <thead>
                <tr>
                    <th>Email</th>
                    <th class="span3">Future role</th>
                    <th class="span2"></th>
                </tr>
                </thead>
                <tbody>
                {% for invitation in invitations %}
                    <tr class="invitation">
                        <td>{{ invitation.email_lower }}</td>
                        <td>
                            {% with selected_role=invitation.role, button_roles=member_roles, model_id=model.id, obj_id=invitation.id, type='invitation'%}
                                {% include 'models/includes/role_switcher.html' %}
                            {% endwith %}
                        </td>
                        <td>
                            <div class="pull-right onHoverSection memberActions">
                                <a href="
                                {{ url_for('models.cancel_invitation', model_id=model.id, invitation_id=invitation.id) }}"
                                   class="text-error">Cancel</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}