{% extends 'base.html' %}

{% block title %}Change Password{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="span8 offset2">
                <form id="changePasswordForm" class="form-horizontal" action="{{ url_for('auth.change_password') }}"
                      method="post">
                    {% if change_password_form.token.data %}
                        {% set excluded_fields=['old_password'] %}
                    {% else %}
                        {% set excluded_fields=[] %}
                    {% endif %}
                    <fieldset>
                        <legend>Change Password</legend>
                        {% with form = change_password_form, excluded_fields=excluded_fields %}
                            {% include 'includes/form_fields.html' %}
                        {% endwith %}
                        <div class="control-group">
                            <div class="controls">
                                <button type="submit" class="btn btn-success">Change password</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}