<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    {% block meta %}
    {% endblock %}

    {% block css %}
        <link rel="stylesheet" href="/static/libs/bootstrap/css/bootstrap.min.css" media="screen">
        <link rel="stylesheet" href="/static/src/css/application.css" media="screen">
    {% endblock %}

    {% block js %}
        <script src="/static/libs/jquery-1.8.1.min.js"></script>
        <script src="/static/libs/bootstrap/js/bootstrap.min.js"></script>
        <script src="/static/src/js/application.js"></script>
    {% endblock %}
</head>
<body>
<div id="header">
    {% block header %}
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="{{ url_for('public.home') }}">{{ site_name }}</a>
                    {% block navigation %}
                        <ul class="nav">
                            <li class="active"><a href="#">Home</a></li>
                        </ul>
                    {% endblock %}
                    {% block authentication %}
                        {% if current_user.is_authenticated() %}
                            <ul class="nav pull-right">
                                <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                            </ul>
                        {% else %}
                            <ul class="nav pull-right">
                                <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                            </ul>
                        {% endif %}
                    {% endblock %}
                </div>
            </div>
        </div>
    {% endblock %}
</div>

<div id="content">
    {% block flush %}
        {% include 'includes/flash.html' %}
    {% endblock %}
    {% block content %}
    {% endblock %}
</div>

<div id="footer">
    {% block footer %}
        <hr/>
        <p class="text-center muted">&copy; 2013 {{ site_name }}</p>
    {% endblock %}
</div>
</body>
</html>