body {
    padding: 50px;
}

#productDescription {
    margin: 0.5em 0 1em;
}

#startTrialForm legend {
    color: #006400;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 0;
}

#startTrialForm input {
    display: block;
    margin: 0 73px;
    width: 300px;
}

#startTrialForm .error .help-inline {
    margin-left: 73px;
    padding: 0;
}

#startTrialForm button {
    width: 200px;
    margin: 15px 130px 10px;
}