{% extends 'base.html' %}

{% block title %}{{ site_name }}{% endblock %}

{% block content %}
    <div class="container">
        <h1 id="productDescription" class="text-center">Databasy.com helps developers to design,
            <br/>discuss and support databases cooperatively.</h1>
        <div class="row">
            <div class="span6"></div>
            <div class="span6">
                <form id="startTrialForm">
                    <fieldset>
                        <legend class="text-center">Start free trial now</legend>
                        <input type="text" placeholder="Your name">
                        <input type="text" placeholder="Email">
                        <input type="text" placeholder="Password">
                        <input type="text" placeholder="Password again">
                        <button type="submit" class="btn btn-success">Sign Up</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}